<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link href="style.css" rel="stylesheet"/>
	<title>Layout</title>
</head>
<body>

	<div class="conteneur1">

		<header>
			<h1>Adaptive</h1>
		</header>

		<div class="conteneur2">
			<nav>
				<ul>
					<li><a href="">Menu 1</a>
						<ul>
							<li><a href="">Menu 1 a</a></li>
							<li><a href="">Menu 1 b</a></li>
							<li><a href="">Menu 1 c</a></li>
						</ul>
					</li>
					<li><a href="">Menu 2</a>
						<ul>
							<li><a href="">Menu 2 a</a></li>
							<li><a href="">Menu 2 b</a></li>
							<li><a href="">Menu 2 c</a></li>
						</ul>
					</li>
					<li><a href="">Menu 3</a>
						<ul>
							<li><a href="">Menu 3 a</a></li>
							<li><a href="">Menu 3 b</a></li>
							<li><a href="">Menu 3 c</a></li>
						</ul>
					</li>
				</ul>
			</nav>

			<section>
				<article>
					<div class="border-b">
						<h2>How To Use</h2>
						<p>Ever wondered what the difference between Adaptive, Responsive, Static and Liquid sites is? Had someone try and explain it only to be left more confused?</p>
						<p>Pick a flavor from the drop down on the top of the page then drag your window narrower and wider, taller and shorter. It will make much more sense when you see for yourself how the approach works.</p>
					</div>
					<div class="border-b">
						<img class="layout" src="layout.gif" alt="layout"/>
						<h2>Adaptive</h2>
						<p> Adaptive is characterized by having defined layouts for different resolutions. Within each layout, resizing the window does not change the layout.</p>
						<p>You can think of Adaptive as a series of <a href="">Static</a> layouts.</p>
					</div>
					<div class="margin-t">
						<img class="photo" src="photo.jpg" alt="photo"/>
						<h3>Title</h3>
						<p class="small">Month dd, yyyy</p>
						<p class="margin-b">Content content content content content content content content content content content content content content content content</p>
						<a href="">Link</a>
					</div>
					<div class="margin-t clear">
						<img class="photo" src="photo.jpg" alt="photo"/>
						<h3>Title</h3>
						<p class="small">Month dd, yyyy</p>
						<p class="margin-b">Content content content content content content content content content content content content content content content content</p>
						<a href="">Link</a>
					</div>
					<div class="margin-t clear">
						<img class="photo" src="photo.jpg" alt="photo"/>
						<h3>Title</h3>
						<p class="small">Month dd, yyyy</p>
						<p class="margin-b">Content content content content content content content content content content content content content content content content</p>
						<a href="">Link</a>
					</div>
					<div class="margin-t clear">
						<img class="photo" src="photo.jpg" alt="photo"/>
						<h3>Title</h3>
						<p class="small">Month dd, yyyy</p>
						<p class="margin-b">Content content content content content content content content content content content content content content content content</p>
						<a href="">Link</a>
					</div>
					<div class="margin-t clear">
						<img class="photo" src="photo.jpg" alt="photo"/>
						<h3>Title</h3>
						<p class="small">Month dd, yyyy</p>
						<p class="margin-b">Content content content content content content content content content content content content content content content content</p>
						<a href="">Link</a>
					</div>
				</article>

				<aside>
					<div class="margin-b">
						<h3>Title</h3>
						<p class="small">Month dd, yyyy</p>
						<p class="margin-b">Summary summary summary summary summary summary</p>
						<a href="">Link</a>
					</div>
					<div class="margin-b">
						<h3>Title</h3>
						<p class="small">Month dd, yyyy</p>
						<p class="margin-b">Summary summary summary summary summary summary</p>
						<a href="">Link</a>
					</div>
					<div class="margin-b">
						<h3>Title</h3>
						<p class="small">Month dd, yyyy</p>
						<p class="margin-b">Summary summary summary summary summary summary</p>
						<a href="">Link</a>
					</div>
					<div class="margin-b">
						<h3>Title</h3>
						<p class="small">Month dd, yyyy</p>
						<p class="margin-b">Summary summary summary summary summary summary</p>
						<a href="">Link</a>
					</div>
					<div class="margin-b">
						<h3>Title</h3>
						<p class="small">Month dd, yyyy</p>
						<p class="margin-b">Summary summary summary summary summary summary</p>
						<a href="">Link</a>
					</div>
				</aside>
			</section>
		</div>

		<footer>
			<p>Built by <a href="">Nicholas Davison</a> for <a href="">Digitaria</a></p>
			<p>© Copyright <a href="">Digitaria</a></p>
		</footer>
	</div>
</body>
</html>